@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-color: rgb(46, 46, 46);
    font-family: 'Verdana', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}
main.wrapper {
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
}

h1 {
    font-weight: bold;
    margin: auto;
    background: #fff;
    line-height: 2.5em;
    text-align: center;
}

p {
    margin: 1em;
    font-style: italic;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
}

span.header {
    font-weight: bold;
    background-color: white;
    color:black;
    text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
    -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
    padding-right: 5px;
    padding-left: 5px;

}

span {
    background-color: rgba(255, 255, 255, 0.5);

}

.action {
    background-color: aqua;
}


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {

    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
        
    }
    

}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {

    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
        
    }
    
}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
        
    }
    
}